<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Form Kegiatan</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">        
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <form action="" method="POST">{% csrf_token %}
                        {{ form }}
                        <div class="centre-items">
                            <input type="submit" class="btn btn-primary" value="Tambahkan Kegiatan">
                        </div>
                    </form>
                </div>
                <div class="col">                       
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Kegiatan</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for kegiatan in infoKegiatan %}
                                <tr>
                                <th scope="row">
                                <a href="{% url 'story6:daftar' my_id=kegiatan.pk %}">{{ kegiatan.Aktivitas }}</a>
                                </th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            
                </div>
            </div>
        </div>
    </body>
</html>